@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  color: #f4f4f9;
}

.container {
  padding: 10px;
  width: 100%;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f4f4f9;
  word-wrap: break-word;
  text-align: left;
}

p {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.attribution {
  font-size: 10px;
  color: #b0b0b0;
  margin-top: 20px;
  text-align: right;
}
